
<div class="header-container">
  <div class="container">
    <div class="header">
      <div class="header-menu-icon lhide">
        <div class="header-menu-item"></div>
        <div class="header-menu-item"></div>
        <div class="header-menu-item"></div>
      </div>
      <a href="/" class="logo">
        <img src="/assets/images/love-energy-savings-logo.png" />
      </a>
      <div class="header-contact-details shide bold">0800 9888 375</div>
      <div class="header-contact-icon lhide"></div>
      <div class="header-right shide bold">
        <a routerLink="/business-energy" routerLinkActive="active" >Business Energy</a>
        <a routerLink="/home-energy" routerLinkActive="active">Home Energy</a>
        <a routerLink="/other-services" routerLinkActive="active">Other Services</a>
        <a routerLink="/content-hub" routerLinkActive="active">Content Hub</a>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      </div>
      
    </div>
  </div>
</div>