@import '../../../assets/styles/common.scss';

.header {
  overflow: hidden;
  padding: 20px 10px;
  a {
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: $fc-menu;
    padding-right: 15px;
    img {
      height: 60px;
    }
  }
  a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    color: $fc-contact
  }
  a.active {
    background-color: dodgerblue;
    color: white;
  }
  .header-right {
    margin-top: 40px;
    float: right;
  }
  .header-contact-details {
    margin-top: 30px;
    margin-left: 80px;
    float: right;
    color: $fc-contact;
    font-size: 27px;
  }
  .header-contact-icon {
    background: url("../../../assets/images/icons/phone-icon.png");
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
    float: right;
    margin-top: 5px;
  }
  .header-menu-icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;;
    .header-menu-item {
      width: 30px;
      height: 3px;
      margin: 5px 0;
      background-color: $bg-menu-item;
    }
  }
}

@media screen and (max-width: 762px) {
  .header {
    padding: 8px 10px;
    .logo {
      padding: 0px;
      img {
        height: 35px;
      }
    }
  }
  .header-right {
    float: none;
  }
}

@media (max-device-width: 993px) 
 and (min-device-width: 769px){ 
  .header {
    .header-contact-details {
      margin-top: 0px;
      margin-right: 15px;
    }
    .header-right {
      margin-top: 5px;
    }
  }
 }