<div class="water-savings-intro-container">
    <div class="container">
        <div class="water-savings-intro-left-block col m8 s12">
            <div class="water-savings-intro-title bold xxxl-text">Save money for your business by switching water supplier</div>
            <div class="water-savings-intro-desc bold-text">Since 2017, UK businesses, charities and public sector organisations have been able to choose who supplies their water, meaning they can now avoid being locked into costly contracts.</div>
            <div class="water-savings-intro-content normal-text">If your business still hasn’t switched, you could make significant savings by comparing water suppliers to find a better deal.</div>
            <div class="water-savings-intro-content normal-text">At Love Energy Savings, we are committed to guiding you through the process of switching water supplier to help you find the very best deal for your business.</div>
            <div class="water-savings-intro-logo">
                <img class="water-logo" src="/assets/images/love-water-savings-logo.png" />
                <img class="pilot-logo" src="/assets/images/trust-pilot-logo.svg" />
            </div>
        </div>
        <div class="water-savings-intro-right-block col m4 s12">
            <request-quote></request-quote>
        </div>
    </div>
</div>