$black: #000;
$white: #fff;
$jagged-ice: #c8e2ec;
$alabaster: #f9f9f9;
$cerulean: #00ADEF;
$silver-chalice: #727272;
$gray: #6c6b6b;
$cloud-burst: #1d2b45;
$athens-gray: #fbfbfc;
$pomegranate: #f23225;
$emperor: #505050;
$silver: #cbcbcb;
$cloud-burst: #1f2942;
$sushi: #74c043;
$boulder: #777777;
$mine-shaft: #333333;

$fc-primary: $mine-shaft;
$fc-secondary: $gray;
$fc-tertiary: $cerulean;
$fc-gray: $athens-gray;
$fc-light: $white;
$fc-red: $pomegranate;
$fc-contact: $sushi;
$fc-menu: $boulder;
$fc-success: $sushi;

$bg-primary: $alabaster;
$bg-secondary: $cloud-burst;
$bg-tertiary: $pomegranate;
$bg-header-secondary: $emperor;
$bg-footer-secondary: $cloud-burst;
$bg-light : $white;
$bg-menu-item: $sushi;

$border-color-primary: $silver;
$border-color-secondary: $cerulean;
$border-color-tertiary: $white;

$main-banner-gradient1: $alabaster; 
$main-banner-gradient2: $jagged-ice;